<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GravityWell</key>
	<dict>
		<key>1</key>
		<string>0.2,0.5,0.05</string>
		<key>2</key>
		<string>0.50,0.2,0.05</string>
		<key>3</key>
		<string>0.50,0.8,0.05</string>
		<key>4</key>
		<string>0.70,0.2,0.05</string>
		<key>5</key>
		<string>0.70,0.8,0.05</string>
		<key>6</key>
		<string>0.80,0.5,0.05</string>
	</dict>
	<key>ObstacleBlock</key>
	<dict>
		<key>1</key>
		<string>0.2,0.1,0.02,0.2,0.0</string>
		<key>2</key>
		<string>0.2,0.9,0.02,0.2,0.0</string>
	</dict>
</dict>
</plist>
