<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ObstacleBlock</key>
	<dict>
		<key>1</key>
		<string>0.15,0.2,0.02,0.4,0.0</string>
		<key>2</key>
		<string>0.15,0.8,0.02,0.4,0.0</string>
		<key>3</key>
		<string>0.3,0.6,0.02,0.8,0.0</string>
		<key>4</key>
		<string>0.6,0.1,0.02,0.2,0.0</string>
		<key>5</key>
		<string>0.7,0.6,0.02,0.8,0.0</string>
	</dict>
</dict>
</plist>
