<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kMainMenu</key>
	<dict>
		<key>PUZZLE_SKULL</key>
		<string>22k_tap_move_skullV1.wav</string>
	</dict>
	<key>kNoSceneUninitialized</key>
	<dict/>
	<key>kPlayGround1</key>
	<dict>
		<key>PUZZLE_SKULL</key>
		<string>22k_tap_move_skullV1.wav</string>
		<key>ROCKET_JET</key>
		<string>22k_cargo_space_freighter_closeV2.wav</string>
	</dict>
	<key>kPlayGround2</key>
	<dict>
		<key>ASTEROID_EXPLOSION</key>
		<string>Sonic Boom.wav</string>
		<key>PUZZLE_SKULL</key>
		<string>22k_tap_move_skullV1.wav</string>
		<key>ROCKET_JET</key>
		<string>22k_cargo_space_freighter_closeV2.wav</string>
		<key>LASER_FIRE</key>
		<string>scifi1.mp3</string>
	</dict>
	<key>kPlayGround3</key>
	<dict>
		<key>PUZZLE_SKULL</key>
		<string>22k_tap_move_skullV1.wav</string>
		<key>ROCKET_JET</key>
		<string>22k_cargo_space_freighter_closeV2.wav</string>
	</dict>
	<key>kPlayGround4</key>
	<dict/>
	<key>kPlayGround5</key>
	<dict>
		<key>LP_DETECTED</key>
		<string>22k_tap_move_skullV1.wav</string>
		<key>FIRE_GUN</key>
		<string>scifi1.mp3</string>
		<key>ENEMY_SPAWN</key>
		<string>22k_viking_powerupV2.wav</string>
		<key>ENEMY_EXPLODE</key>
		<string>22k_enemy_robot_taking_damageV1.wav</string>
		<key>ANNOUNCER_V1</key>
		<string>tf_nemesis.wav</string>
		<key>ANNOUNCER_V2</key>
		<string>tf_revenge.wav</string>
		<key>ANNOUNCER_V3</key>
		<string>tf_domination.wav</string>
		<key>ANNOUNCER_V4</key>
		<string>crit_hit.wav</string>
		<key>ANNOUNCER_V5</key>
		<string>crit_hit2.wav</string>
		<key>ANNOUNCER_V6</key>
		<string>crit_hit3.wav</string>
		<key>FIRE_SHOTGUN</key>
		<string>shotgun-02.wav</string>
		<key>SHOTGUN_RELOADING</key>
		<string>cockgun-02.wav</string>
		<key>VORTEX_SPAWN</key>
		<string>22k_tap_move_meteorV1.wav</string>
	</dict>
</dict>
</plist>
